{
  "defaultConfig": {
    "buildType": "develop",
    "api": "CoreEngine",
    "libraryDir": "lib/"
  },
  "compile": [
    {
      "path": "bundle.js",
      "sourceType": "mod"
    },
    {
      "path": "launcher.js",
      "sourceType": "launcher"
    }
  ],
  "resources": [
    {
      "path": "assets/",
      "resourceType": "resource"
    },
    {
      "path": "gui/",
      "resourceType": "gui"
    }
  ],
  "buildDirs": [],
  "nativeDirs": [],
  "javaDirs": []
}